.container{
    width: 115rem;
    background-color: aliceblue;
    margin: 3rem auto;
    height: 25rem;

}
.header{
    height: 23rem;
    /*background-color: rgb(187, 181, 181);*/
    background-image: url(/image/Header-bg.jpg) ;
    background-repeat: no-repeat;
    border-bottom: 2px solid var(--colour-grey-dark);
    background-size: 100%;

}

.header-title-1, .header-title-2, .date, p{
    text-align: center;
    color: white;
}
p{
    font-weight: bolder;
}
.date{
    color: darkblue;
    font-weight: bolder;
    font-size: 2rem;
}

.content{
    display: flex;
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    align-self: stretch;
      
}
/*********************************************************
*  NAVBAR  */
.navbar li{
    display: inline;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 1.1rem;
    
}

.navbar li a{
    text-decoration: none;
    color: white;
    text-align: center;


}
.navbar li a:hover{
    color: black;
 
}

.navbar li a:focus{
    color: yellowgreen;
}
.main-page{
    background-color: rgb(255, 255, 255);
    flex:3;
    
}

.detail__heading h1{
    color: black;
    padding: 3rem;
}

.detail__heading p{
    font-size: 16px;
    color: black;
    text-align: left;
    line-height: 25spx;
    width: 90%;
    padding: 1rem;
    clear: right;

    
}

/************************************************************
* Keynote   */
.keynote{

    background-color: var(--colour-blue-light-2);
}

.keynote h1{
    font-size: 30px;
    text-align: center;
    color: black;
    padding: 3rem;

}

/******************************************************************8
*  SIDEBAR  */
.sidebar{
    background-color: var(--colour-grey-light);
    flex: 1;
   
}

.sidebar .update h2{
    padding: 5px;
    color: aliceblue;
    background-color: var(--colour-grey-dark);
    text-align: center;
}
.conference, .update {
    margin: 30px;
    width: 290px;
    height: 290px;
    padding: 30px;
    border: 4px solid black;
    
}
.sidebar .conference h2{
    padding: 5px;
    font-size: 20px;
    color: aliceblue;
    background-color: var(--colour-grey-dark);
    text-align: center;
}
.sidebar .conference p{
    font-size: 12px;
}
.footer{
    background-color: lightblue;
}

/*******************************************************************************
* Publication  */
.publication{
   background-color: aliceblue;
   
    
}
.publication h1{
    text-align: center;
    padding: 30px;

}

/**********************************************************************
*  Information where the videos are found  */
.information{
    background-color: var(--colour-grey-light);
}

/*************************************************************************8
*************************************************************************8
********** KEYNOTE PAGE ***********************/
.content-2{
    display: flex;
    border: 2px solid red;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}
.main-keynote{
    width: 100%;
    background-image: url(/image/Low-opacity-Keynote-bg.png);
    height: 700px;
    background-color: white;
    background-repeat: no-repeat;
    

}
.container-keynote{
    flex-basis: 15%;
    margin: 15px 0px;
    box-shadow: 0px 0px 10px 3px black;
    background-color: blue;
    align-items: center;
}

/********************************************************************8
***************************************************************************88
**** TRavel page  **/
.content-3 .main-travel{
    display: flex;
    height: 50rem;
}

.sidebar-travel{
    background-color: red;
   flex: 0 0 10%;
}
.travel-details{
    background-color: blue;
    flex: 1;
}
/*******************************************************************88
******************************************************************************
**** LOGIN page *****/
.sign-in{
    background-color: antiquewhite;
}

/**************************************************************88
**** Container****/
.container-2{
    display: flex;
    height: 500px;
    width: 800px;
    border: 2px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
   
}
/************************************************************88
** Login form **/

.form h2{
    font-size: 3rem;
    margin: 40px;
}
.sign-up{
    font-size: 18px;
    
}
.sign-up a:hover{
    color: lightgreen;
}

/******************************************************************88
**** Right side picture ***/
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: blue;
}

.side img{
    width: 450px;
    height: 450px;
}
/************************************************************************
*  Media Responsive  */
@media(max-width: 55rem) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    }